Repository hsadoqi/synapcity_library: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx eslint

chore: icons, images and other assets provided by default by `next` and `storybook`
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
Due: none

feat: set up github actions for `husky` and `cypress` to automate formatting and testing
  .github/workflows/main.yml
  .husky/pre-commit
  .lintstagedrc
  prettier.config.mjs
  tsconfig.json
Due: none

feat: set up files for `cyprus` and create basic tests
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  src/app/layout.tsx
  src/app/page.cy.js
  src/components/ui/button.cy.js
Due: npx prettier --write, npx eslint --fix, npx eslint

feat: add storybook, configure, and add basic example stories from `storybook`
  .storybook/main.ts
  .storybook/preview.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: npx prettier --write, npx eslint --fix, npx eslint

chore: files for theming and styling
  src/app/page.tsx
  src/app/providers.tsx
  src/components/theming/ThemeToggle/ThemeToggle.tsx
  src/components/theming/ThemeToggle/__tests__/ThemeToggle.test.jsx
  src/components/theming/ThemeToggle/index.ts
  src/components/theming/index.ts
  src/contexts/ThemeContext.tsx
  src/contexts/__tests__/ThemeContext.test.jsx
  src/contexts/index.ts
  src/styles/flex.module.css
  src/styles/globals.css
  src/styles/grid.module.css
  src/styles/layout.module.css
  src/styles/shadcn-ui.css
  src/styles/utils.module.css
  src/styles/variables.css
Due: npx prettier --write, npx eslint --fix, npx eslint

chore: basic components from `shadcn-ui`, update README, and utils
  README.md
  src/components/index.ts
  src/components/ui/button.tsx
  src/components/ui/index.ts
  src/lib/utils.ts
Due: npx prettier --write, npx eslint --fix, npx eslint

chore: separate `.gitignore` files to manage each folder environment
  cypress-tests/.gitignore
  para-synapcity/.gitignore
Due: none

chore: coverage files
  cypress-tests/cypress/screenshots/my-image.png
  para-synapcity/.env
  para-synapcity/coverage/clover.xml
  para-synapcity/coverage/coverage-final.json
  para-synapcity/coverage/lcov-report/ThemeContext.tsx.html
  para-synapcity/coverage/lcov-report/base.css
  para-synapcity/coverage/lcov-report/block-navigation.js
  para-synapcity/coverage/lcov-report/components/theming/ThemeToggle/ThemeToggle.tsx.html
  para-synapcity/coverage/lcov-report/components/theming/ThemeToggle/index.html
  para-synapcity/coverage/lcov-report/components/ui/button.tsx.html
  para-synapcity/coverage/lcov-report/components/ui/index.html
  para-synapcity/coverage/lcov-report/contexts/ThemeContext.tsx.html
  para-synapcity/coverage/lcov-report/contexts/index.html
  para-synapcity/coverage/lcov-report/contexts/index.ts.html
  para-synapcity/coverage/lcov-report/favicon.png
  para-synapcity/coverage/lcov-report/index.html
  para-synapcity/coverage/lcov-report/lib/index.html
  para-synapcity/coverage/lcov-report/lib/utils.ts.html
  para-synapcity/coverage/lcov-report/prettify.css
  para-synapcity/coverage/lcov-report/prettify.js
  para-synapcity/coverage/lcov-report/sort-arrow-sprite.png
  para-synapcity/coverage/lcov-report/sorter.js
  para-synapcity/coverage/lcov.info
  para-synapcity/next-env.d.ts
Due: npx prettier --write, npx eslint --fix, npx eslint

Update cypress.yml
  .github/workflows/cypress.yml
Due: none

build(cypress-tests): install `wait-on` dependency and update scripts to trigger parent folder; update paths and files in `tsconfig.json`
  cypress-tests/package-lock.json
  cypress-tests/package.json
  cypress-tests/tsconfig.json
Due: npx prettier --write

build: update parent folder to remove cypress-related files and packages
  cypress.config.ts
  package-lock.json
  package.json
Due: none

fix: update config for e2e testing
  .github/workflows/cypress.yml
  cypress-tests/.gitignore
  cypress-tests/cypress.config.js
  cypress-tests/cypress/screenshots/my-image.png
  cypress-tests/cypress/support/e2e.js
  cypress-tests/webpack.config.js
  eslint.config.mjs
Due: npx prettier --write, npx eslint --fix, npx eslint

fix: update path for cypress workflow
  .github/workflows/cypress.yml
Due: none

fix: update cypress workflow by installing cypress in `cypress-tests` first and specify paths
  .github/workflows/cypress.yml
Due: none

fix: force install of legacy peer deps in child folder
  .github/workflows/cypress.yml
Due: none

fix: add action to install parent dependencies before build
  .github/workflows/cypress.yml
Due: none

fix: update working-directory path
  .github/workflows/cypress.yml
Due: none

fix: update paths for uploads and update installation in root directory
  .github/workflows/cypress.yml
Due: none

fix: update to use scripts from `cypress-tests` instead of github
  .github/workflows/cypress.yml
Due: none

fix: update cypress to open in headless environment instead of gui
  cypress-tests/package.json
Due: npx prettier --write

Update README.md
  README.md
Due: none

build: install playwright; configure settings; update scripts and set up github workflow
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
Due: none

chore: examples and set up basic playwright test
  tests/example.spec.ts
  tests/page.spec.ts
Due: npx prettier --write, npx eslint --fix, npx eslint

fix: build and start project for playwright tests
  .github/workflows/playwright.yml
Due: none

fix: update syntax of workflows to synchronize syntax
  .github/workflows/cypress.yml
  .github/workflows/playwright.yml
Due: none

fix: remove redundant actions line from `playwright.yml`
  .github/workflows/playwright.yml
Due: none

fix: update workflows
  .github/workflows/cypress.yml
  .github/workflows/playwright.yml
Due: none

fix: update playwright scripts and cypress flow
  .github/workflows/cypress.yml
  package.json
Due: none

fix: scripts and playwright workflow
  .github/workflows/playwright.yml
  cypress-tests/package.json
Due: npx prettier --write

fix: update cypress workflow
  .github/workflows/cypress.yml
Due: none

build: add scripts to run chromatic and set up workflow for `storybook`
  .github/workflows/storybook.yml
  package-lock.json
  package.json
Due: none

Path conditions:
  npx prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,md,mdx})
  npx eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  npx eslint: any of: */**/*.{js,jsx,ts,tsx}
